.save_button
{
    position: 'relative';
                                    display: block;
                                    width: 60px;
                                    height: 20px;
                                    border-radius: 10px;
                                    background-color: #1c89ff;
                                    border: solid 1px transparent;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: Bold;
                                    cursor: pointer;
                                    transition: all .1s ease-in-out
}
.cancel_button
{
    margin-top: 8px;
                                    position: relative;
                                    display: block;
                                    width: 60px;
                                    height: 20px;
                                    border-radius: 10px;
                                    background-color: #FF0000;
                                    border: solid 1px transparent;
                                    color: #fff;
                                    font-size: 12px;
                                    font-weight: Bold;
                                    cursor: pointer;
                                    transition: all .1s ease-in-out;
}
.edit_button
{
    background: #0066A2;
                                color: white;
                                border-style: outset;
                                border-color: #0066A2;
                                height: 30px;
                                width: 100px;
                                font: bold15px arial,sans-serif;
                                text-shadow: none
}
.name_field
{
    width: 280px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                font-weight: Bold
}
.email_field
{
    width: 280px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                font-weight: Bold;
}
.mobileNumber_field
{
    width: 280px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                font-weight: Bold
}
.role_field
{
    width: 280px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
                                font-weight: Bold
}
.name_input
{
    width: 300px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box
}
.email_input
{
                                width: 300px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box;
}
.mobileNumber_input
{
                                width: 300px;
                                padding: 12px 20px;
                                margin: 8px 0;
                                display: inline-block;
                                border: 1px solid #ccc;
                                border-radius: 4px;
                                box-sizing: border-box
}